<div class="text-center">
  <h3>Ask a question to your stupid coach: </h3>

  <form action="/coaching/answer" class="text-center">
    <label for="question">Speak to your coach</label>
    <input type="text" id="question" name="query" placeholder="what time is it?">
    <input type="submit" value="Go on!" class="btn btn-primary">
  </form>
</div>

